<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/sns.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/sns.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="org" level="WARN"/>
	<logger name="java" level="WARN" />
	<logger name="org.springframework.scheduling.quartz" level="WARN"/>
	<logger name="org.springframework.web" level="WARN"/>
	<logger name="com.zaxxer.hikari" level="WARN"/>
	<logger name="org.uengine.sns" level="WARN" />
	<logger name="org.uengine.sns.common.batch" level="WARN" />
	<logger name="org.uengine.sns.websocket" level="WARN" />
	<logger name="org.uengine.sns.model.noti.mapper" level="WARN" />
	<logger name="org.uengine.sns.model.feed.mapper.FeedFileMapper" level="WARN" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILEOUT" /> -->
	</root>

</configuration>