@charset "UTF-8";

/*==================================================================================
 UI & design consuting - FOR C&C (주)에프오알씨앤씨 - UI Creative Team
www.forcnc.co.kr  / (02)322-0637
==================================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, applet, object, iframe,
fieldset, form, label, legend,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit;
	vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
	border:0;
	padding:0;
	margin:0;
	background-color:transparent;
}


/*============================================
common
============================================*/
body{
	font-size:12px;
	line-height: 1.4em;
	font-family:'Malgun Gothic', arial, dotum, gulim !important;
	color:#000;
	padding:0; margin:0;
	/***** overflow:auto !important;  don't use this!!! *****/
}
a {
	font-family:'Malgun Gothic', arial, gulim, dotum !important;
	color:#000;
	text-decoration:none;
	cursor:pointer;
}
a:focus {outline:none;}
a:hover {text-decoration:none;}
a img, fieldset {border:0;}
button {
	cursor:pointer;
	font-family:'Malgun Gothic', arial, gulim, dotum !important;;
}

/*============================================
달력
============================================*/
#datepicker, #ui-datepicker-div{width:260px;background-color:#fff;}
.ui-datepicker {width:260px;padding:0;background:none;width:100%;}
/* .ui-widget {font-size:12px;line-height:1.4em;font-family:'Malgun Gothic', arial, dotum, gulim !important;} */
.ui-widget-content {border:none;}

/* header */
.ui-widget-header {background:#3a3633;border:none;}
.ui-datepicker-header {width:100%;}
.ui-datepicker .ui-datepicker-header {position:relative;padding:8px 0;font-weight:normal;}
.ui-datepicker-title {color:#fff;}

/* header radius 수정 */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-bottom-right-radius:0px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {border-bottom-left-radius:0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius:0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-right-radius:0px;}

/* header 상단- 이전 다음  */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {top:6px;}
.ui-datepicker .ui-datepicker-prev:hover {left:2px;}
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {right:2px;background:none;border:none;}

/* icon */
.ui-icon {width:20px;height:20px;}
.ui-widget-header .ui-icon {background-image:url("/neo/js/ewt/ui/dropdownchecklist/smoothness/images/ui-icon.png");}
.ui-icon-circle-triangle-w {background-position:left top;}
.ui-icon-circle-triangle-e {background-position:-50px top;}

/* table */
.ui-datepicker table {font-size:11px;border-spacing:0;margin:0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:none;}
.ui-state-default {width:100%;height:30px;}

.ui-datepicker-calendar {border:1px solid #e0e0e0;border-top:none;}
.ui-datepicker-calendar tr {border-bottom:1px solid #e0e0e0;}
.ui-datepicker th {color:#fff;background-color:#a8a09b;border:1px solid #9a918b;width:38px;height:30px;padding:0;}
.ui-datepicker td {padding:0;border:none;line-height:28px;border-right:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.ui-datepicker td span, .ui-datepicker td a {text-align:center;display:block;margin:0;padding:0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color:#7f7f7f;border:0;}
.ui-datepicker-other-month {color:#f2f2f2;}
.ui-datepicker-days-cell-over, .ui-datepicker-current-day {border-right:1px solid #ff5722;border-left:1px solid #ff5722;background-color:#3A3633;}
.ui-state-disabled {background-color:#d7d6d6;}
.ui-state-default, .ui-widget-header .ui-state-highligh {color:#fff;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {font-weight:bold;background-color:#ff5722;color:#fff;}
